.container-data {
  width: 90%;
  margin: 20px auto;
}

.card-data {
  background: rgb(22, 85, 231);
  display: flex;

  justify-content: space-between;
  padding: 20px;

  border-radius: 20px;

  align-items: center;

  position: relative;
  z-index: 1;
}

.card-data h1 {
  font-size: 20px;
}

.data-item {
  background-color: rgb(16, 58, 155);
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr, 1fr;

  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 300px;

  padding: 5px;
}

.data-list {
  background: rgb(23, 63, 157);
  border-radius: 0 0 10px 10px;
  margin-top: -12px;
  display: relative;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}
