#root {
  display: flex;
  justify-content: center;

  height: 100vh;
}

.App-container {
  width: 100%;
  max-width: 430px;

  height: 100vh;

  background: var(--background);

  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;
}

.content {
  flex: 1;

  padding: 16px;

  padding-bottom: 80px;

  overflow-y: auto;
}
